body{
    background-color: grey;
    
}

.box{
    align-items: center;
    width: 400px;
    height: 150px;
    border: 4px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    font-style: italic;
    background-color: white;
    font-weight: bolder;
    font-size: 21px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 2px purple;
}
.green{
    border: 4px solid green;
    height: 630px;
    display: flex;
   
    
}

.box1{
    margin: 0px;
    align-items: center;
    width: 280px;
    height: 250px;
    border: 4px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 2px purple;
}
.box2{
    align-items: center;
    width: 280px;
    height: 250px;
    border: 4px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 2px purple;
    position: absolute;
    top: 198px;
    right: 47px;
   
}
 img{
   transform:  scaleX(-1);
 }

.box3{
    align-items: center;
    width: 280px;
    height: 250px;
    border: 4px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 2px purple;
    position: absolute;
    margin-top: 350px;
    margin-left: 0px;
}
.box4{
    align-items: center;
    width: 280px;
    height: 250px;
    border: 4px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 2px purple;
    position: absolute;
    margin-top: 350px;
    margin-left: 1173px;    
    text-align: center;

}       
.in{
     text-align: center;
     background-color: red; 
    width: 100px;
    border-radius: 8px;
    color:black; 
}
.in1{
    text-align: center;
}
.fixed{
    position: fixed;
    top: 565px;
    left: 350px;
    font-weight: bold;
    border: 4px solid red;
    border-radius: 15px;
    width: 750px;
    height: 100px;
    background-color: rgb(36, 248, 36);
    color: brown;
    display: flex;

}
.first{
    display: flex;
   align-items: center;
   text-align: center;
   width: 550px;
   height: 100px;
   color: brown;
   padding: 5px 100px;
   font-size: 1.5em;
   
}
.second{
    display: flex;
    align-items: center;
    text-align: end;
    width: 300px;
    height: 100px;
    color: brown;
    padding: 10px 20px;
    font-size: 1.3em;
    
}
.purple{
    align-items: center;
    border: 6px solid purple;
    background-color: green;
    color: rgb(10, 10, 54);
    display: flex;
    text-align: center;
    width: 800px;
    height: 800px;
    position: absolute;
     margin-left: 350px;
}
.h1-purple{
    position: absolute;
    top: 05px;
    left: 250px;
    display: flex;
}
.grocery{
    background-color: rgb(236, 236, 131);
    margin: 5px;
    flex-wrap: wrap;
    width: 50%;
    height: 20em;
    
}