body{
    background-color: grey;
    height: 1500px;
}

.box{
    align-items: center;
    width: 600px;
    height: 150px;
    border: 7px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    font-style: italic;
    background-color: white;
    font-weight: bolder;
    font-size: 21px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 4px purple;
}

.green{
    border: 7px solid green;
    height: 630px;
    display: flex; 
    
}

.box1{
    margin: 0px;
    align-items: center;
    width: 280px;
    height: 250px;
    border: 7px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 4px purple;
}

.box2{
    align-items: center;
    width: 280px;
    height: 250px;
    border: 7px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 4px purple;
    position: absolute;
    top: 207px;
    right: 47px;
   
}

 img{
   transform:  scaleX(-1);
 }

.box3{
    align-items: center;
    width: 280px;
    height: 250px;
    border: 7px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 4px purple;
    position: absolute;
    margin-top: 350px;
    margin-left: 0px;
}

.box4{
    align-items: center;
    width: 280px;
    height: 250px;
    border: 7px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 4px 4px 2px purple;
    text-shadow: 1px 1px 4px purple;
    position: absolute;
    margin-top: 350px;
    margin-left: 1173px;    
    text-align: center;

}

.in{
     text-align: center;
     background-color: red; 
    width: 100px;
    border-radius: 8px;
    color:black; 
}

.in1{
    text-align: center;
}

.fixed{
    position: fixed;
    top: 565px;
    left: 350px;
    font-weight: bold;
    border: 7px solid red;
    border-radius: 15px;
    width: 750px;
    height: 100px;
    background-color: rgb(101, 235, 12);
    color: brown;
    display: flex;
    box-shadow: 8px 8px 10px purple;
    font-size: 16px;

}

.first{
    display: flex;
   align-items: center;
   text-align: center;
   width: 550px;
   height: 100px;
   color: brown;
   padding: 5px 100px;
   font-size: 1.5em;
   
}

.second{
    display: flex;
    align-items: center;
    text-align: end;
    width: 300px;
    height: 100px;
    color: brown;
    padding: 10px 20px;
    font-size: 1.3em;
    
}

.purple{
    
    border: 7px solid purple;
    background-color: green;
    color: rgb(10, 10, 54);
    display: flex;
    text-align: center;
    width: 900px;
    height: 610px;
    position: absolute;
    margin-left: 300px;
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    
}

.h1-purple{
    margin-left: 55px;
    position: absolute;
    top: 05px;
    left: 250px;
    display: flex;
    font-style: normal;
}

.yellow{
    display: flex;
    top: 5.5em;
    position: absolute;
   
}

.grocery{
    background-color: rgb(236, 236, 131);
    margin: 5px;
    flex-wrap: wrap;
    width: 440px;
    height: 250px;
    
}

.wid-control{
  width: 97%;
}

.yellow2{
    background-color: rgb(236, 236, 131);
    position: absolute;
    top:22em;
    width: 100%;
    height: 250px;
}